.etrhpiii .catalog ul li a:not(.ShowRealForm) {
    height: calc(100% - 55px);
}

.znak>div .sp {
    padding-left: 34px;
    line-height: 1.2;
}

.znak>div .sp:before {
    margin-left: -34px;
}

.znak>div .sp:after,
.dos .do:after {
    display: block;
    content: '';
    clear: both;
}

.bt-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.adaptive-table {
    overflow-x: auto;
}

.cls:after {
    display: table;
    content: "";
    clear: both;
}

.adaptive-header {
    display: none;
}

.headroom {
    display: none;
    z-index: 100;
    position: fixed;
    min-height: 54px;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .2s linear;
    background: white;
    box-shadow: 0 0 10px #3c3c3c;
    text-align: center;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}

.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.adaptive-call {
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.adaptive-call[data-id="0"] {
    left: 10px;
    background-image: url(menu.svg);
}

.adaptive-call.adaptive-call--white {
    background-image: url(menu_white.svg);
    margin-right: 10px;
}

.adaptive-call[data-id="1"] {
    left: 80px;
    background: url(user.svg) 0 0 no-repeat;
}

.adaptive-call[data-id="2"] {
    right: 70px;
    background: url(cart.svg) 0 0 no-repeat;
}

.adaptive-call[data-id="2"] span {
    position: absolute;
    top: 10px;
    left: 19px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    background: #526a22;
    color: #fff;
    text-align: center;
    font-size: 11px;
}

.adaptive-call[data-id="3"] {
    background: url(search.svg) 0 0 no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

/*
.headroom--pinned {}
.headroom--top {}
.headroom--not-top {}
 */
.adaptive-darkness {
    z-index: 101;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.7);
}

.adaptive-darkness[data-state="show"] {
    display: block;
}

.adaptive-left {
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    background: #fff;
    height: 100%;
    padding: 60px 0 0;
    overflow: auto;
    box-sizing: border-box;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.adaptive-left .main-menu {
    height: initial;
    background: none;
}

.adaptive-left.adaptive-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.adaptive-right {
    z-index: 102;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    background: #526a22;
    height: 100%;
    padding: 60px 0 0;
    overflow: auto;
    box-sizing: border-box;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.adaptive-right.adaptive-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.adaptive-top {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.adaptive-top:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #fff;
    z-index: 1;
}

.adaptive-top.adaptive-active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.adaptive-top input[type="text"] {
    background: #fff;
    outline: 0;
    padding: 0 12px;
    box-sizing: border-box;
    border: 1px solid #fff;
    line-height: 40px;
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 40px;
}

.adaptive-top input[type="submit"] {
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(search.svg) 0 0 no-repeat #fff;
    border: 0;
    outline: 0;
    font-size: 0;
}

.adaptive-left,
.adaptive-right,
.adaptive-top {
    transition: all .2s linear;
    max-width: 100%;
}

.adaptive-wrap {
    transition: all .2s linear;
}

.adaptive-left ul,
.adaptive-left ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    width: initial;
    max-width: 100%;
    text-align: left;
    box-sizing: border-box;
    height: initial;
    line-height: 1.4;
}

.adaptive-left ul li {
    display: list-item;
}

.adaptive-left ul {
    padding: 0 12px;
}

.adaptive-left ul ul {
    padding-right: 0;
}

.adaptive-left ul ul {
    display: none;
    position: static;
    margin-left: 0;
}

.adaptive-left ul ul.active {
    display: block;
}

.adaptive-left ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #3c3c3c;
    padding: 8px 12px;
    margin: 0 0 3px;
    box-sizing: border-box;
}

.adaptive-left ul li a::before {
    display: none;
}

.adaptive-left ul li a .js-adaptive-menu-trigger {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-left: 1px solid #fff;
    text-align: center;
    font-weight: 300;
}

.adaptive-left ul li a .js-adaptive-menu-trigger:before {
    font-size: 20px;
    content: '+';
}

.adaptive-left ul li a .js-adaptive-menu-trigger.adaptive-active:before {
    content: '-';
}

.adaptive-hide {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #526a22;
    background: url(clear.svg) 0 0 no-repeat;
}

.adaptive-top .adaptive-hide {
    background-image: url(clear-white.svg);
}

.adaptive-left .main-menu .main-ul>li>ul {
    display: none;
    background: none;
    padding-top: 0;
}

.adaptive-left .main-menu .main-ul>li>ul.adaptive-active {
    display: block;
}

.adaptive-left .main-menu>ul li a {
    font-weight: 600;
}

.adaptive-left .main-menu>ul li li a {
    font-weight: 300;
}

.adaptive-left .main-menu>ul li a:hover {
    color: #962c27;
    text-decoration: none;
}

.adaptive-left .main-menu>ul>li:hover+li>a:before {
    display: none;
}

.adaptive-top .adaptive-hide {
    top: 100%;
    right: 0;
    display: none;
}

.adaptive-top.adaptive-active .adaptive-hide {
    display: block;
}

.adaptive-header .js-adaptive-clone-for-header {
    display: none;
}

.adaptive-table {
    overflow-x: auto;
}

.adaptive-top .search-wrapper {
    width: 100%;
    float: none;
}

.adaptive-top .ya-site-form__input-text {
    height: 42px;
    box-sizing: border-box;
}

.adaptive-top .ya-site-form__form {
    border: none;
}

/* +[tablets 992] */
@media all and (max-width: 992px) {

    .tableToggleRow {
        text-align: center;
    }

    /*
    * jQuery Basic Table
    * Author: Jerry Low
    */
    table.bt thead,
    table.bt tbody th {
        display: none;
    }

    table.bt tfoot th,
    table.bt tfoot td,
    table.bt tbody td {
        border: none;
        display: flex;
        vertical-align: top;
        align-items: flex-start;
    }

    table.bt tfoot th:before,
    table.bt tfoot td:before,
    table.bt tbody td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 30%;
        display: inline-block;
        text-align: right;
        padding-right: 10px;
        line-height: 1.2;
    }

    table.bt tfoot th.bt-hide,
    table.bt tfoot td.bt-hide,
    table.bt tbody td.bt-hide {
        display: none;
    }

    table.bt tfoot th .bt-content,
    table.bt tfoot td .bt-content,
    table.bt tbody td .bt-content {
        vertical-align: top;
        width: 70%;
    }

    .mapcon .map {
        margin-bottom: 30px;
        max-height: 90vh;
        min-width: 100%;
    }

    .content .contacts-top {
        min-width: 295px;
        max-width: 100vw;
    }

    .address h2 {
        font-size: 20px !important;
        line-height: 1;
    }

    .topToHide,
    .bottomToStay {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .topToHide {
        box-sizing: border-box;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .topToHide .logo {
        max-width: 130px;
    }

    .topToHide img {
        max-width: 100%;
    }

    .right_side,
    .adaptive-rightButtons {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;
        padding: 0;
    }

    .adaptive-rightButtons {
        padding-left: 10px;
    }

    .adaptive-rightButtons a {
        padding: 5px;
    }

    .dos .pimp {
        margin-left: 50%;
        transform: translateX(-100%);
    }

    .adaptive-left .search-wrapper,
    .header-wrapper .logo,
    .site-wrap .search-wrapper,
    .site-wrap .main-menu.selector {
        display: none;
    }

    .slider {
        padding-bottom: 5vw;
        background-size: cover;
        background-position: 50% 50%;
        text-align: center;
    }

    .okomp .classZag {
        line-height: 1;
    }

    .okomp .hdr {
        padding: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
    }

    .page-content .content .bnr .classH1 {
        margin-top: 0;
    }

    .preim2 .przg {
        line-height: 1.2;
        margin-bottom: 6vw;
        text-align: center;
    }

    .preim2 p {
        text-align: left;
        display: flex;
        line-height: 1.3;
    }

    .shirZakaz .tri .pt3 .b_red,
    .shirZakaz .ShowRealForm {
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px !important;
    }

    .page-content .content img {
        max-width: 100%;
    }

    .img_r {
        float: none;
    }

    .okomp .bx-wrapper {
        margin-left: 0;
    }

    .okomp .bx-wrapper .bx-next {
        right: -35px;
    }

    .classH1 {
        line-height: 1.2;
    }

    h1.classH1 {
        margin-bottom: 5vw;
    }

    .wrap {
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }

    .adaptive-left .page-header {
        background-image: none;
    }

    .adaptive-left .main-menu {
        margin-bottom: 5vw;
    }

    .site-wrap .search-wrapper {
        display: none;
    }

    .page-header {
        height: initial;
    }

    .shirZakaz {
        background-size: cover;
        padding-bottom: 5vw;
    }

    .shirZakaz .vs {
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }

    .shirZakaz .tri .pt1,
    .shirZakaz .tri .pt2,
    .shirZakaz .tri .pt3 {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .shirZakaz .classH1 {
        /* display: flex; */
    }

    .classH1:before,
    .classH1:after {
        display: none !important;
    }

    .shirZakaz .vs {
        height: initial;
    }

    .shirZakaz .tri {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .site-wrap .header-wrapper {
        display: none;
    }

    .adaptive-left .phones {
        padding-left: 30px;
    }

    .adaptive-left .mail {
        padding-left: 20px;
    }

    .adaptive-left .mail,
    .adaptive-left .phones,
    .adaptive-left .page-header .cnopck,
    .adaptive-left .page-footer .cnopck {
        float: none;
        width: initial;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .slider .pkib {
        height: initial;
        min-height: 36px;
    }

    .ShowRealForm {
        /* display: inline-block;
        margin-left: 5%;
        margin-right: 5%; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .page-footer {
        background-size: cover;
    }

    .page-footer>.wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .page-footer .foot__col {
        width: 33%;
        margin-bottom: 20px;
        order: 3;
    }

    .page-footer .foot__col-1 {
        width: 66%;
        order: 1;
        display: flex;
        align-items: flex-start;
    }

    .page-footer .foot__col-4 {
        order: 2;
    }

    .foot__logo {
        width: 50%;
    }

    .page-footer .phones {
        margin-right: 0;
        text-align: left;
    }

    .page-footer .foot__btns {
        width: 100%;
        height: auto;
    }

    .page-footer .foot__btns a {
        margin-left: 0;
    }

    .page-footer .phones a {
        padding-left: 35px;
    }

    .foot__ya {
        float: none;
    }


    .page-header .phones {
        margin-right: 20px;
    }

    .header-wrapper .time-work {
        width: initial;
    }

    .header-wrapper .cnopck+div {
        white-space: initial !important;
        margin-top: 0 !important;
        text-align: center;
    }

    .shirZakaz,
    .shirZakaz .vs,
    body,
    .kat_con,
    .variant-list-comment-box input,
    .variant-list-comment-box textarea {
        max-width: 100%;
        min-width: initial !important;
    }

    .form_zav .for,
    html .wr,
    .opr .wr,
    .staties .wr,
    .page-content,
    .kkart .dos,
    .kkart img,
    .wrap,
    .preim2 {
        max-width: 100%;
        box-sizing: border-box;
    }

    .vmu,
    .vmu .wr,
    .vmu .wr .ri,
    .vmu .wr div.wwr2 {
        position: static;
        width: auto;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vmu .wr {
        height: auto;
        background: none;
        width: 100%;
    }

    .vmu .wr .ri {
        width: 100%;
        height: auto;
    }

    .wwr1 {
        display: none;
    }

    .vmu .wr div.wwr2 {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 60px;
        height: 106px;
        line-height: 1;
        background: url(/img/left_strel.png) no-repeat 100% 0;
    }

    .vmu .wr2 {
        bottom: 0;
        display: none;
    }

    .vmu .wwr3 {
        padding-bottom: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .vmu .wwr3 .ShowRealForm {
        margin-left: 0;
        margin-right: 0;
    }

    .vmu .wwr3 button.but_red_bol {
        margin: 0;
        position: static;
    }

    .kkart .wr .zgg {
        margin-top: 50px;
    }

    .staties .chch {
        margin-top: 30px !important;
    }

    .staties .wr {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .staties .wr .zgg {
        width: 100%;
        margin-bottom: 30px;
    }

    .staties .st2,
    .staties .st {
        float: none !important;
        margin: 7px;
        width: calc(50% - 14px);
        display: flex;
        align-items: center;
        height: auto;
        padding-left: 10px;
        box-sizing: border-box;
    }

    .staties .st2 .im2,
    .staties .st .im2 {
        padding: 15px;
        height: auto;
    }

    .staties .st2 .i3,
    .staties .st .i3 {
        position: static;
    }


    .our-clients-b {
        text-align: center;
    }

    .our-clients-b .st img {
        margin: 7px;
    }

    .opr .bx-controls-direction .bx-prev {
        left: 8px;
    }

    .opr .bx-controls-direction .bx-next {
        right: -22px;
    }

    .form_zav>form {
        padding: 0 20px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form_zav>form .form_zav-wr {
        display: flex;
        margin-bottom: 15px;
    }

    .form_zav .for label {
        width: 30%;
    }

    .form_zav .for label input[type=text] {
        max-width: 100%;
    }

    .form_zav .bb {
        white-space: normal;
        padding-top: 4px;
        line-height: 1;
        font-size: 13px !important;
    }

    .form_zav .textd {
        margin-left: 0 !important;
        width: 100%;
        text-align: center !important;
    }

    .form_zav .fieldErrorWr {
        margin-right: 0 !important;
    }

    .form_zav {
        height: initial;
        background-size: cover;
    }

    .adaptive-wrap {
        overflow: hidden;
        padding-top: 95px;
    }

    .headroom {
        display: block;
        padding-top: 10px;
    }

    .catalog_call {
        display: flex;
        align-items: center;
        background: #962c27;
        color: white;
        padding: 0 15px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1.6px;
    }

    .site-wrap .main-menu {
        height: auto;
    }

    .site-wrap .main-menu .main-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .site-wrap .main-menu .main-ul li {
        margin-right: 20px;
        /* width: 20%;
        max-width: 20%; */
        height: auto;
        text-align: left;
    }

    .site-wrap .main-menu .main-ul>li:first-child {
        display: none;
    }

    .site-wrap .main-menu .main-ul li ul {
        display: block;
        position: static;
        max-width: 100%;
        margin: 0;
        padding: 0;
        background: none;
        border: 0;
    }

    .site-wrap .main-menu .main-ul li ul li {
        width: 100%;
        max-width: 100%;
    }

    .site-wrap .main-menu .main-ul li ul a {
        color: #d0d0d0;
    }

    .site-wrap .main-menu .main-ul li a:after,
    .site-wrap .main-menu .main-ul li a:before {
        display: none;
    }

    .header-moving {
        display: none !important;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar:vertical {
        width: 5px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(1, 1, 1, 0.7);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #fff;
    }


    /* product page */

    .kat_con {
        width: 100%;
    }

    a.kkon {
        /* display: inline-block; */
        max-width: 350px;
    }

    .page-content,
    .page-content * {
        box-sizing: border-box;
    }

    .page-content .catalog ul {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .page-content .catalog ul li {
        width: calc(20% - 10px);
        margin: 10px 5px;
    }

    .etrhpiii .catalog li .img-wrap {
        text-align: center;
        margin-bottom: 10px;
    }

    .etrhpiii .catalog li .img-wrap img {
        width: 100%;
        height: 130px;
        max-height: 130px;
        object-fit: cover;
    }

    .page-content .sidebar {
        float: none;
        width: 100%;
    }

    .sidebar .sidebtn_wr {
        display: none;
    }

    .sidebar .side-menu {
        /* width: 100%; */
        display: none;
    }

    .sidebar .sidebtn_wr {
        text-align: center;
    }

    .side-menu * {
        box-sizing: border-box;
    }

    .side-menu .zag {
        position: relative;
    }

    .side-menu>ul {
        display: none;
    }

    .side-menu>ul>li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: flex-start;
    }

    .second-click {
        order: 2;
        height: 34px;
        width: 34px;
        position: relative;
    }

    .zag:after,
    .second-click:after {
        position: absolute;
        top: 6px;
        transform-origin: center;
        transform: rotate(-45deg);
        display: block;
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid transparent;
        border-left-color: #4c4c4c;
        border-bottom-color: #4c4c4c;
        transition: transform .3s;
    }

    .zag.active:after,
    .second-click.active:after {
        transform: rotate(135deg) translateY(-6px) translateX(6px);
    }

    .zag:after {
        left: auto;
        right: 0;
    }

    .side-menu>ul>li>a {
        order: 1;
        margin: 0;
        width: calc(100% - 34px);
    }

    .side-menu>ul>li>ul {
        order: 3;
        width: 100%;
        position: static;
        display: block;
        border-left-width: 0;
    }


    .kat_con .accordiond .hdr span:before,
    .kat_con .accordiond .hdr span:after,
    .kat_con h1:before,
    .kat_con h1:after {
        display: none;
    }

    .acc-content .bx-wrapper .bx-controls-direction a {
        opacity: .5;
    }

    .acc-content .bx-wrapper .bx-controls-direction a:hover {
        opacity: 1;
    }

    .acc-content .bx-wrapper .bx-controls-direction .bx-prev {
        left: 0;
    }

    .acc-content .bx-wrapper .bx-controls-direction .bx-next {
        right: 0;
    }


    .our-advantages-b>.wr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-advantages-b>.wr .classH1 {
        width: 100%;
    }

    .our-advantages-b>.wr>div {
        margin-bottom: 30px;
    }

}


@media all and (max-width: 940px) {
    .staties {
        padding-left: 15px;
        padding-right: 15px;
    }

    .staties .st2,
    .staties .st {
        float: none !important;
        margin: 7px 0;
        width: 100%;
        display: flex;
        align-items: center;
        height: auto;
        padding-left: 10px;
        box-sizing: border-box;
    }

    .staties .st2 .im2,
    .staties .st .im2 {
        width: auto;
    }
}

@media all and (max-width: 900px) {
    .page-content .catalog ul li {
        width: calc(25% - 10px);
    }

    .page-content .catalog ul li.catalog_mini__li {
        padding: 1%;
    }
}

@media all and (max-width: 790px) {
    .page-footer>.wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .page-footer .foot__col {
        width: 50%;
        margin-bottom: 20px;
        order: 3;
    }

    .page-footer .foot__col-1 {
        width: 100%;
    }

    .page-footer .foot__col-4 {
        order: 4;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .page-footer .foot__col-4 a {
        display: inline-block;
        margin: 7px !important;
    }

    .foot__btns.cnopck {
        display: flex;
        align-items: flex-start;
    }

    .kkart {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .kkart .wr img {
        margin-left: 0;
    }
}



/* -[tablets 992] */
/* +[tablets 768] */
@media all and (max-width: 768px) {
    body {
        position: relative;
    }

    .site-wrap .main-menu .main-ul li {
        margin-right: 0;
        width: 50%;
    }

    .catalog ul li.catalog_mini__li a {
        height: auto;
    }

}

@media all and (max-width: 710px) {
    .page-content .catalog ul li {
        width: calc(33.3% - 10px);
    }
}

@media all and (max-width: 700px) {
    .znak>div {
        width: 50%;
    }

    .vmu .wr .ri {
        flex-wrap: wrap;
        background: #f0f0f0;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .vmu .wr div.wwr1 {
        display: block;
        background-position: 50% 50%;
    }

    .vmu .wr div.wwr2 {
        width: 100%;
        padding: 20px;
        text-align: center;
        background: #f0f0f0;
    }

    .vmu .wr3 {
        width: 100%;
    }
}

@media all and (max-width: 688px) {
    .form_zav>form .form_zav-wr {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form_zav .for label {
        width: 100%;
        text-align: center;
        margin-bottom: 14px;
        margin-left: 0;
        margin-right: 0;
    }

    .form_zav .bb {
        margin-top: 14px !important;
    }

    .mapss {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .mapss>span {
        width: 100%;
        margin-bottom: 7px;
    }
}



@media all and (max-width: 688px) {

    .swiper-container.prod_slider2,
    .swiper-container.prod_slider3 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .prod_slider2 .swiper-slide,
    .prod_slider3 .swiper-slide {
        justify-content: center;
    }
}

/* -[tablets 768] */
/* +[phones 600] */
@media all and (max-width: 600px) {
    body {
        position: relative;
    }
}


@media all and (max-width: 600px) {
    .page-footer>.wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .page-footer .foot__col {
        width: 100%;
        margin-bottom: 20px;
        order: 3;
    }

    .foot__logo {
        width: 100%;
        margin-bottom: 20px;
    }

    .page-footer .foot__col-1 {
        width: 100%;
        flex-wrap: wrap;
    }

    .page-footer .foot__col-4 {
        order: 4;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .page-footer .foot__col-4 a {
        display: inline-block;
        margin: 7px !important;
    }

    .page-footer .conf a,
    .page-footer .foot__mails a,
    .page-footer .foot__addr p {
        font-size: 15px;
    }

    .foot__btns.cnopck {
        flex-wrap: wrap;
    }



    .price-dem-table {
        display: block;
    }

    .price-dem-table tr {
        display: flex;
        flex-wrap: wrap;
    }

    .price-dem-table tr td {
        display: block;
        width: 150px;
    }

    .price-dem-table tr td:first-child {
        width: calc(100% - 150px);
    }

    .price-dem-table tr td:last-child {
        width: 100%;
        text-align: right;
    }

    .price-dem-table tr td .ShowRealForm {
        display: inline-block;
    }

}

@media all and (max-width: 580px) {
    .RealForm {
        padding-left: 15px;
        padding-right: 15px;
    }

    .RealForm .caption {
        font-size: 20px;
    }

    .znak>div {
        width: 100%;
    }

    .form_otzv form .left_block,
    .form_otzv form .right_block {
        width: 100%;
        float: none;
    }

    .page-content .catalog ul li {
        width: calc(50% - 10px);
    }

    .sw_slider-1 li {
        flex-wrap: wrap;
    }

    .sw_slider-1 li .li {
        width: 100%;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .sw_slider-1 li .ri {
        width: 100%;
    }

    .sw_slider-1 li .ri .ShowRealForm,
    .sw_slider-1 li .ri .slide_text,
    .sw_slider-1 li .ri .slide_zg {
        text-align: center;
    }

    .okomp .but_red_bol {
        display: inline-block;
    }

    /* .swiper-container.prod_slider3, */
    .swiper-container._sw_slider-1 {
        padding-bottom: 20px;
    }

    .prod_slider3 #catalog-slider-prev,
    .prod_slider3 #catalog-slider-next,
    ._sw_slider-1 #catalog-slider-prev,
    ._sw_slider-1 #catalog-slider-next {
        /* opacity: 0.3; */
        bottom: 0;
        top: auto;
        margin: 0;
        transform: none;
    }

    .vmu .wr div.wwr2 {
        height: initial;
    }

    .vmu .wr div.wwr2 br {
        display: none;
    }

    a.kkon {
        font-size: 13px !important;
    }
}

/* -[phones 480] */

@media all and (max-width: 512px) {

    .staties .st2,
    .staties .st {
        flex-wrap: wrap;
    }

    .staties .st2 .im,
    .staties .st2 .im2,
    .staties .st .im,
    .staties .st .im2 {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}

@media all and (max-width: 450px) {
    .RealForm {
        max-width: 98vw;
        box-sizing: border-box;
        padding: 10px;
    }

    .RealForm .caption {
        line-height: 1;
    }

    .RealForm .msg-field {
        width: 100%;
        float: none;
    }

    #img-and-price {
        float: none;
    }

    .site-wrap .main-menu .main-ul li {
        width: 100%;
        min-height: 25px;
    }

    .site-wrap .main-menu>ul {
        line-height: 38px;
    }

    .but_red_bol {
        height: 50px;
    }

    .price-dem-table tr td {
        display: block;
        width: 100%;
        border: 0;
    }

    .price-dem-table tr td:first-child {
        width: 100%;
    }

    .price-dem-table tr td:last-child {
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 14px;
    }

    .our-advantages-b>.wr>div {
        float: none;
        margin: 30px auto;
        width: 80%;
    }

    .kat_con h1,
    .content h1,
    .classH1,
    .przg,
    .shirZakaz .classH1,
    .okomp .classZag,
    .sw_slider-1 li .ri .slide_zg,
    .kkart .wr .zgg {
        font-size: 21px;
        line-height: 1.2;
    }

    .kkart .dos span,
    .shirZakaz .tri .tto {
        font-size: 18px;
        line-height: 1.2;
    }

    .page-content .content img {
        object-fit: contain;
    }

    .okomp .hdr {
        font-size: 16px;
        line-height: 1.3;
        padding-left: 5px;
        padding-right: 5px;
    }

    .kkart .wr .zgg br {
        display: none;
    }

    .kkart .wr .zgg span {
        display: block;
    }
}

@media all and (max-width: 360px) {
    .page-content .catalog ul li {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

@media (max-width: 720px) {
    .slider .catalog-slider {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 374.5px) {
    .ShowRealForm {
        padding-left: 10px;
        padding-right: 10px;
    }
}