/* Header */
.page-header {
    padding-top: 0;
}

.page-header .phones a,
.page-footer .phones a,
.page-header .phones span,
.page-footer .phones span {
    color: #962c27;
    font-weight: bold;
}
.page-header .i-mail a:hover,
.page-footer .i-mail a:hover,
.mail .sky a:hover {
    border-bottom:none;
}
.search-wrapper {
    /*padding-top: 7px;*/
}
.search-wrapper .ya-site-form__form {
    border: solid 1px #AAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff !important;
}
#ya-site-form0 .ya-site-form__submit_type_image {
    background: url('/img/i-search.png') no-repeat !important;
    width: 18px !important;
    height: 18px !important;
    padding: 0;
}
.search-wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    border: 0 !important;
    font-style: italic !important;
    padding: 4px;
}
.search-wrapper #ya-site-form0 .ya-site-form__search-input {
    padding: 3px 6px;
}
.cnopck .ch2 {
    margin-top: 8px !important;
}
.header-moving {
    display: none;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.3);
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    z-index: 100;
}
.header-moving .logo img {
    width: 250px;
}
.header-moving .phones {
    margin-left: 45px;
    font-size: 22px;
}
.header-moving .cnopck {
    width: 380px;
    text-align: right;
    height: auto;
}
.header-moving .cnopck a {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px !important;
}
.header-moving .cnopck .ch1 {
    margin-right: 10px;
}

/* Header menu */
.main-menu {
    border: none;
}
.main-menu>ul {
    height: 100%;
    margin-top: 0 !important;
    line-height: 54px;
}
.main-menu .main-ul>li>a {
    margin-top: 0;
}
.main-menu .main-ul>li>ul {
    background: #ddd;
    border-top: solid 1px #fff;
    border-bottom: none;
    z-index: 10;
}
.main-menu .main-ul ul a {
    color: #010101;
    font-size: 16px;
    font-family: Calibri, 'Open Sans', sans-serif;
}
.main-menu .main-ul ul a:hover {
    color: #962c27;
}
.main-menu>ul>li {
    height: 100%;
    margin-right: 28px;
}
.main-ul li ul {
    top: 54px;
}
.main-menu_arr {
    position: relative;
}
.main-menu_arr::after {
    content: '';
    display: block;
    width: 8px;
    height: 4px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -4px;
    background: url('/img/arr-d-w.png') no-repeat;
}
.main-menu>ul>li:hover .main-menu_arr::after,
.main-menu>ul>li.active .main-menu_arr::after{
    background: url('/img/arr-d-b.png') no-repeat;
}
.main-ul .menu-cat_ul {
    width: 590px;
    padding-bottom: 20px;
}
.main-ul .menu-cat_ul>li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}
.main-ul .menu-about_ul {
    width: 180px;
}
.main-ul .menu-usl_ul {
    width: 500px;
}
.main-ul .menu-usl_ul>li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

/* Footer */
.foot__col {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.foot__addr {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -10px;
    padding-left: 10px;
}
.page-footer {
    background: url(../img/fon_body.jpg) no-repeat center top;
    padding-bottom: 15px;
    height: auto;
}
.page-footer>.wrap {
    font-size: 0;
}
.page-footer .phones a {
    font-size: 24px;
    padding-left: 45px;
    line-height: 27px;
}
.page-footer .logo {
    float: none;
    margin: 0;
}
.page-footer .logo img {
    width: 215px;
}
.page-footer .i-mail,
.page-footer .mail .sky {
    padding-left: 44px;
}
.page-footer .foot__addr p {
    background: url('/img/map-ico.png') no-repeat left top 5px;
    padding-left: 25px;
    font-size: 18px;
    font-family: Calibri, 'Open Sans', sans-serif;
    line-height: 21px;
}
.page-footer .foot__mails a {
    font-size: 18px;
}
.page-footer .cnopck {
    margin-top: 0;
    width: 181px;
}
.foot__ya {
    float: right;
}
.foot-bot {
    height: 34px;
    line-height: 34px;
    background: #eee;
}
.foot-bot .copyr {
    color: #3c3c3c;
    font-size: 14px;
}
.foot-bot .copyr a {
    color: #3c3c3c;
}
.foot-bot .copyr a:hover {
    text-decoration: none;
}

/* Sidebar */
.sidebtn_wr {
    background: #e8e8e8;
    border: solid 1px #ddd;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
    padding: 8px 0 0;
    margin-bottom: 10px;
}
.side-menu .zag {
    margin-bottom: 10px;
}
.sidebut {
    width: 215px;
}
.side-menu>ul>li {
    padding: 0;
    height: auto;
}
.side-menu>ul>li>a {
    font-size: 16px;
    font-family: Calibri, 'Open Sans', sans-serif;
    padding: 10px 15px;
    background-image: url('/img/arr-r-g.png');
    background-repeat: no-repeat;
    background-position: right 7px center;
}
.side-menu>ul>li:hover>a {
    padding-left: 15px;
}
.side-menu>ul>li.active,
.side-menu>ul>li:hover {
    background: #ddd;
}
.side-menu>ul>li.active>a,
.side-menu>ul>li:hover>a{
    color: #962c27;
    background-image: url('/img/arr-r-r.png');
}
.side-menu>ul>li.active::before,
.side-menu>ul>li:hover::before{
    content: none;
}
.side-menu>ul>li>ul {
    margin-left: 0;
    margin-top: 0;
    background: #ddd;
    border-left: solid 2px #fff;
}

.side-menu>ul>li>ul>li:hover:before {
    content: none;
}
.side-menu>ul>li>ul>li.active a,
.side-menu>ul>li>ul>li:hover a {
    color: #962c27;
}

.side-menu.menu_comp>ul>li>a,
.side-menu.menu_comp>ul>li.active>a,
.side-menu.menu_comp>ul>li:hover>a{
    background: none;
}


/* Main page */
.shirZakaz .tri a.am1,
.shirZakaz .tri a.am2 {
    text-decoration: none;
    display: inline-block;
    border-bottom: dotted 1px #9d9d9d;
    line-height: 20px;
    margin: 5px 0;
}
.shirZakaz .tri .pt1>a.am2 {
    margin-top: 5px;
}
.shirZakaz .tri a.am1:hover,
.shirZakaz .tri a.am2:hover {
    border-bottom-color: transparent;
}
.active_vk {
    background: #722521 !important;
    color: #fff !important;
    border-color: #722521 !important;
}
.okomp .hdr {
    font-size: 18px;
    font-family: Calibri, 'Open Sans', sans-serif;
    line-height: 22px;
}
.okomp .hdr {
    padding: 3px;
}
.shirZakaz .tri .tto {
    padding-bottom: 8px;
}
.b_red.phone {
    background: url('/img/sprite.png') no-repeat -79px -82px, url("/img/sprite.png") no-repeat -16px -532px #962c27;
}
.b_red.phone:hover {
    background: url('/img/sprite.png') no-repeat -79px -82px, url("/img/sprite.png") no-repeat -16px -532px #82302c;
}
.staties .chch.art-all {
    background: url('/img/file-ico.png') no-repeat 10px, url('/img/sprite.png') no-repeat -16px -532px #696969;
}
.staties .chch.art-all:hover {
    background: url('/img/file-ico.png') no-repeat 10px, url('/img/sprite.png') no-repeat -16px -532px #5f5f5f;
}

/* Catalog */
.catalog_mini__li a .text {
    font-weight: bold;
    line-height: 18px;
}
.catalog .catalog_mini__li a:hover {
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    text-decoration: none;
    color: #962c27;
}
.catalog ul li:hover {
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
}
.kat_con .catalog li .text {
    line-height: 14px;
    margin-top: 4px;
}
.idxjuu {
    color: #962c27;
    font-size: 18px;
    font-weight: bold;
}
.catalog ul li .bunnt {
    margin-top: 7px;
}

/* Content */
.breadcrumbs>a:hover {
    text-decoration: none;
}
.RealTable td:last-child {
   /* font-weight: bold; */
}
#img-and-price {
    padding-top: 5px;
}

/* Forms */
.form_zav-wr {
    margin: 0 auto;
}
.RealForm .fieldErrorWr {
    position: relative;
}
.fieldErrorWr .fieldError {
    position: absolute;
}
.fieldErrorWr .fieldError .jGrowl-notification {
    position: absolute;
    background: #f24841;
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
}
.fieldErrorWr .fieldError .jGrowl-notification::before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #f24841;
    top: -7px;
    left: 10px;
}
.fieldErrorWr .fieldError label {
    color: #fff;
    font-family: Calibri, 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
}
div.RealForm {
    padding-top: 25px;
    padding-bottom: 20px;
}
.RealForm form::after {
    content: '';
    display: table;
    clear: both;
}
div.RealForm .msg-field {
    color: #962c27;
}
.form_dem_poc .msg-field {
    margin-top: 20px;
}
div.RealForm input[type=submit] {
    margin-top: 20px !important;
}
.RealForm input[type="text"]:read-only {
    background: #e8e8e8;
}

#Callback_spec.RealForm .caption,
#Callback.RealForm .caption,
#Cost.RealForm .caption,
#Cost2.RealForm .caption,
#Cost3.RealForm .caption,
#CostCard.RealForm .caption {
    text-decoration: none;
    background: url('/img/bbr.png') no-repeat bottom center;
}

.form_zav .msg-succes {
    font-size: 18px;
    font-weight: bold;
}
.form_zav .msg-succes span {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 35px;
    font-size: 18px;
}

.agrDataProc {
    display: none;
    text-align: center;
    font-size: 14px;
    font-family: Calibri, 'Open Sans', sans-serif;
    line-height: 18px;
    margin-top: 20px;
}
.agrDataProc a {
    color: #962c27;
}

    /* Common */
.clear {
    clear: both;
}