.grids {
  letter-spacing: -.65em;
  margin-left: -10px;
  margin-right: -10px;
  text-align: left;
  display: block;
}

.grids.align-center {
  text-align: center;
}

.grids.align-right {
  text-align: right;
}

[class*="column-"] {
  /*width: 100%;*/
  letter-spacing: normal;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  float: none;
  /*text-align: left;*/
  vertical-align: top;
  box-sizing: border-box;
}

[class*="column-"].align-baseline {
  vertical-align: baseline;
}

.column-1 {
  width: 8.33333%;
}

.pre-1 {
  margin-left: 8.33333%;
}

.post-1 {
  margin-right: 8.33333%;
}


.column-2 {
  width: 16.66667%;
}

.pre-2 {
  margin-left: 16.66667%;
}

.post-2 {
  margin-right: 16.66667%;
}

.column-five {
  width: 20%;
}

.column-3 {
  width: 25%;
}

.pre-3 {
  margin-left: 25%;
}

.post-3 {
  margin-right: 25%;
}

.column-4 {
  width: 33.33333%;
}

.pre-4 {
  margin-left: 33.33333%;
}

.post-4 {
  margin-right: 33.33333%;
}

.column-5 {
  width: 41.66667%;
}

.pre-5 {
  margin-left: 41.66667%;
}

.post-5 {
  margin-right: 41.66667%;
}

.column-6 {
  width: 50%;
}

.pre-6 {
  margin-left: 50%;
}

.post-6 {
  margin-right: 50%;
}

.column-7 {
  width: 58.33333%;
}

.pre-7 {
  margin-left: 58.33333%;
}

.post-7 {
  margin-right: 58.33333%;
}

.column-8 {
  width: 66.66667%;
}

.pre-8 {
  margin-left: 66.66667%;
}

.post-8 {
  margin-right: 66.66667%;
}

.column-9 {
  width: 75%;
}

.pre-9 {
  margin-left: 75%;
}

.post-9 {
  margin-right: 75%;
}

.column-10 {
  width: 83.33333%;
}

.pre-10 {
  margin-left: 83.33333%;
}

.post-10 {
  margin-right: 83.33333%;
}

.column-11 {
  width: 91.66667%;
}

.pre-11 {
  margin-left: 91.66667%;
}

.post-11 {
  margin-right: 91.66667%;
}

.column-12 {
  width: 100%;
}

.pre-12 {
  margin-left: 100%;
}

.post-12 {
  margin-right: 100%;
}

@media (min-width: 768px) {
  .small-column-1 {
    width: 8.33333%;
  }

  .small-column-2 {
    width: 16.66667%;
  }

  .small-column-five {
    width: 20%;
  }

  .small-column-3 {
    width: 25%;
  }

  .small-column-4 {
    width: 33.33333%;
  }

  .small-column-5 {
    width: 41.66667%;
  }

  .small-column-6 {
    width: 50%;
  }

  .small-column-7 {
    width: 58.33333%;
  }

  .small-column-8 {
    width: 66.66667%;
  }

  .small-column-9 {
    width: 75%;
  }

  .small-column-10 {
    width: 83.33333%;
  }

  .small-column-11 {
    width: 91.66667%;
  }

  .small-column-12 {
    width: 100%;
  }

  .small-pre-0 {
    margin-left: 0%;
  }

  .small-post-0 {
    margin-right: 0%;
  }

  .small-pre-1 {
    margin-left: 8.33333%;
  }

  .small-post-1 {
    margin-right: 8.33333%;
  }

  .small-pre-2 {
    margin-left: 16.66667%;
  }

  .small-post-2 {
    margin-right: 16.66667%;
  }

  .small-pre-3 {
    margin-left: 25%;
  }

  .small-post-3 {
    margin-right: 25%;
  }

  .small-pre-4 {
    margin-left: 33.33333%;
  }

  .small-post-4 {
    margin-right: 33.33333%;
  }

  .small-pre-5 {
    margin-left: 41.66667%;
  }

  .small-post-5 {
    margin-right: 41.66667%;
  }

  .small-pre-6 {
    margin-left: 50%;
  }

  .small-post-6 {
    margin-right: 50%;
  }

  .small-pre-7 {
    margin-left: 58.33333%;
  }

  .small-post-7 {
    margin-right: 58.33333%;
  }

  .small-pre-8 {
    margin-left: 66.66667%;
  }

  .small-post-8 {
    margin-right: 66.66667%;
  }

  .small-pre-9 {
    margin-left: 75%;
  }

  .small-post-9 {
    margin-right: 75%;
  }

  .small-pre-10 {
    margin-left: 83.33333%;
  }

  .small-post-10 {
    margin-right: 83.33333%;
  }

  .small-pre-11 {
    margin-left: 91.66667%;
  }

  .small-post-11 {
    margin-right: 91.66667%;
  }

  .small-pre-12 {
    margin-left: 100%;
  }

  .small-post-12 {
    margin-right: 100%;
  }
}

@media (min-width: 1024px) {
  .medium-column-1 {
    width: 8.33333%;
  }

  .medium-column-2 {
    width: 16.66667%;
  }

  .medium-column-five {
    width: 20%;
  }

  .medium-column-3 {
    width: 25%;
  }

  .medium-column-4 {
    width: 33.33333%;
  }

  .medium-column-5 {
    width: 41.66667%;
  }

  .medium-column-6 {
    width: 50%;
  }

  .medium-column-7 {
    width: 58.33333%;
  }

  .medium-column-8 {
    width: 66.66667%;
  }

  .medium-column-9 {
    width: 75%;
  }

  .medium-column-10 {
    width: 83.33333%;
  }

  .medium-column-11 {
    width: 91.66667%;
  }

  .medium-column-12 {
    width: 100%;
  }

  .medium-pre-0 {
    margin-left: 0%;
  }

  .medium-post-0 {
    margin-right: 0%;
  }

  .medium-pre-1 {
    margin-left: 8.33333%;
  }

  .medium-post-1 {
    margin-right: 8.33333%;
  }

  .medium-pre-2 {
    margin-left: 16.66667%;
  }

  .medium-post-2 {
    margin-right: 16.66667%;
  }

  .medium-pre-3 {
    margin-left: 25%;
  }

  .medium-post-3 {
    margin-right: 25%;
  }

  .medium-pre-4 {
    margin-left: 33.33333%;
  }

  .medium-post-4 {
    margin-right: 33.33333%;
  }

  .medium-pre-5 {
    margin-left: 41.66667%;
  }

  .medium-post-5 {
    margin-right: 41.66667%;
  }

  .medium-pre-6 {
    margin-left: 50%;
  }

  .medium-post-6 {
    margin-right: 50%;
  }

  .medium-pre-7 {
    margin-left: 58.33333%;
  }

  .medium-post-7 {
    margin-right: 58.33333%;
  }

  .medium-pre-8 {
    margin-left: 66.66667%;
  }

  .medium-post-8 {
    margin-right: 66.66667%;
  }

  .medium-pre-9 {
    margin-left: 75%;
  }

  .medium-post-9 {
    margin-right: 75%;
  }

  .medium-pre-10 {
    margin-left: 83.33333%;
  }

  .medium-post-10 {
    margin-right: 83.33333%;
  }

  .medium-pre-11 {
    margin-left: 91.66667%;
  }

  .medium-post-11 {
    margin-right: 91.66667%;
  }

  .medium-pre-12 {
    margin-left: 100%;
  }

  .medium-post-12 {
    margin-right: 100%;
  }

}

@media (min-width: 1280px) {
  .large-column-1 {
    width: 8.33333%;
  }

  .large-column-2 {
    width: 16.66667%;
  }

  .large-column-five {
    width: 20%;
  }

  .large-column-3 {
    width: 25%;
  }

  .large-column-4 {
    width: 33.33333%;
  }

  .large-column-5 {
    width: 41.66667%;
  }

  .large-column-6 {
    width: 50%;
  }

  .large-column-7 {
    width: 58.33333%;
  }

  .large-column-8 {
    width: 66.66667%;
  }

  .large-column-9 {
    width: 75%;
  }

  .large-column-10 {
    width: 83.33333%;
  }

  .large-column-11 {
    width: 91.66667%;
  }

  .large-column-12 {
    width: 100%;
  }

  .large-pre-0 {
    margin-left: 0%;
  }

  .large-post-0 {
    margin-right: 0%;
  }

  .large-pre-1 {
    margin-left: 8.33333%;
  }

  .large-post-1 {
    margin-right: 8.33333%;
  }

  .large-pre-2 {
    margin-left: 16.66667%;
  }

  .large-post-2 {
    margin-right: 16.66667%;
  }

  .large-pre-3 {
    margin-left: 25%;
  }

  .large-post-3 {
    margin-right: 25%;
  }

  .large-pre-4 {
    margin-left: 33.33333%;
  }

  .large-post-4 {
    margin-right: 33.33333%;
  }

  .large-pre-5 {
    margin-left: 41.66667%;
  }

  .large-post-5 {
    margin-right: 41.66667%;
  }

  .large-pre-6 {
    margin-left: 50%;
  }

  .large-post-6 {
    margin-right: 50%;
  }

  .large-pre-7 {
    margin-left: 58.33333%;
  }

  .large-post-7 {
    margin-right: 58.33333%;
  }

  .large-pre-8 {
    margin-left: 66.66667%;
  }

  .large-post-8 {
    margin-right: 66.66667%;
  }

  .large-pre-9 {
    margin-left: 75%;
  }

  .large-post-9 {
    margin-right: 75%;
  }

  .large-pre-10 {
    margin-left: 83.33333%;
  }

  .large-post-10 {
    margin-right: 83.33333%;
  }

  .large-pre-11 {
    margin-left: 91.66667%;
  }

  .large-post-11 {
    margin-right: 91.66667%;
  }

  .large-pre-12 {
    margin-left: 100%;
  }

  .large-post-12 {
    margin-right: 100%;
  }

}