	#WrapperRealForm { display: none; }
	.RealForm .pageURL { display: none; }
	.RealForm .r5d5 { display: none; }

	.RealForm {
		
		padding: 45px ;
		background-color: transparent;
		background: #f5f4f4;
		box-sizing: border-box;
		width: 452px;
		background: url(../img/fon_body.jpg) center 0!important;
		/* background-size: cover!important; */

		
	}
	.RealForm form{
		max-width: 500px; 
		margin: 0 auto;
		clear: both;
	}

	/*.RealForm div { margin: 5px 0; }*/

	.RealForm .caption { 
		font-size: 28px;
		color: #962c27;
		font-weight: bold;
		margin-bottom: 15px;
		padding-bottom: 5px; 
		text-align: center;
		text-decoration: underline;
		display: block;
		/*border-bottom: solid 2px #962c27;*/

	}

	.RealForm .in_but{
		margin-top: 20px;
	}

	.RealForm label[for=name], .RealForm label[for=email], .RealForm label[for=message]{
		display: block;
		text-align: left;
	}

	.RealForm .chconf{
		margin-top: 10px;
		font-size: 14px;
	}

	.RealForm input[type="text"],
	.RealForm input[type="tel"], 
	.RealForm textarea {
		padding: 4px;
		color: #555;
		background: #fff;
		border-radius: 3px;
		border: solid 1px #ababab;
		width: 100%;
		min-height: 34px;
		box-sizing: border-box;
	}

/*	.RealForm input[type="text"], .RealForm textarea{
		width: 100%;
		box-sizing: border-box;
		}*/

		.RealForm label { 
			display: block;
			min-width: 125px; 
			/*text-align: right; */
			vertical-align: top; 
			color: #000;
			/*font-weight: bold;*/
			font-size: 16px;
			padding-top: 5px;
			margin-top: 5px;
		}

/*	.RealForm form div:nth-child(2){
		border: solid 1px red;
		width: 330px;
		float: left;
		}*/

		.RealForm input[type=submit]{
			border: none;
			color: #fff;
			min-width: 171px;
			background: #962c27;
			display: block;
			height: 35.5px;
			font-size: 16px !important;
			padding: 5px 10px;
			padding-left: 48px;
			border-radius: 3px;
			font-family: Calibri;
			background: url('/img/sprite.png') no-repeat -88px -710px, url(/img/sprite.png) no-repeat -16px -532px #696969;
			border-bottom: 2px solid #4c4c4c;
		}

		.RealForm input[type=submit]:hover{
			/*background: url('/img/sprite.png') no-repeat -88px -710px, url(/img/sprite.png) no-repeat -16px -532px #5f5f5f;*/
		}

		.form_dem_zak input[type=submit]{
			background: url(/img/sprite.png) no-repeat -79px -82px, url(/img/sprite.png) no-repeat -16px -532px #962c27;
			margin-top: 6px !important;
		}

		.form_dem_zak input[type=submit]:hover{
			background: url(/img/sprite.png) no-repeat -79px -82px, url(/img/sprite.png) no-repeat -16px -532px #82302c
		}


		.form_dem_spec input[type=submit]{
			background: url(/img/sprite.png) no-repeat -79px -196px, url(/img/sprite.png) no-repeat -16px -532px #962c27;
			margin-top: 6px !important;
		}

		.form_dem_spec input[type=submit]:hover{
			background: url(/img/sprite.png) no-repeat -79px -196px, url(/img/sprite.png) no-repeat -16px -532px #82302c
		}


		.form_dem_poc input[type=submit]{
			background: url(/img/sprite.png) no-repeat -89px -709px, url(/img/sprite.png) no-repeat -16px -532px #962c27;
			margin-top: 6px !important;
		}

		.form_dem_poc input[type=submit]:hover{
			background: url(/img/sprite.png) no-repeat -89px -709px, url(/img/sprite.png) no-repeat -16px -532px #82302c;
		}



		.RealForm .msg-field, .RealForm label>span { 
			color: #e2380d; 
			font-size: 16px;
			font-style: italic;
			line-height: 15px;
		}

		.RealForm .msg-field{

			display: block;
			width: 50%;
			float: left;
			/*margin-top: 20px;*/
			padding-right: 16px;
			box-sizing: border-box;
		}



/*	.RealForm input[type="submit"] {
		height: 30px;
		width: 100%;
		text-align: center;
		background-color: #EEF;
		border: 1px solid #888;
		border-radius: 5px;
		cursor: pointer;
		color: #456;
		font-weight: bold;
		outline: none;
		box-shadow: 2px 1px 3px #777;
		}*/

		/*.RealForm input[type="submit"]:hover { background-color: #DDE; }*/

		.msg-error {
			/*background-color: #fee;*/
			/*border: 1px solid;*/
			/*color: #ad2a09;*/
			padding: 10px;
			color: #3c3b3b;
			font-size: 12px;
		}
		.msg-succes {
			/*background-color: #efe;*/
			/*border: 1px solid;*/
			color: #3c3b3b;
			font-size: 12px;
			padding: 10px;
			text-align: center;
		}

		.inputErr { background-color: #FCC !important; }

		.redAlert {
			background: #AD2727 !important;
			border: #699 !important;
			color: #FFF !important;
		}

		.ShowRealForm{
			text-decoration: none;
		}

		.greenAlert {
			background: #216028 !important;
			border: #699 !important;
			color: #FFF !important;
		}

		#button_call, #button_question, #button_cost, .orderbtn {
			color: #FFF;
			text-decoration: none;
			outline: none;
		}

		#button_call:hover, #button_question:hover, #button_cost:hover , .orderbtn:hover{
			/*box-shadow: 1px 3px 3px rgba(255,255,255,0.8);*/
		} 

		#button_question { float: right; margin-left: 15px; }
		#button_cost { padding: 4px 45px; }

		#img-and-price {
			float: right;
			text-align: center;
		}

		#img-and-price img {
			margin-bottom: 10px;
		}
		.RealForm input[type="text"]:focus,
		.RealForm textarea:focus{
			border:solid 2px #962c27;
		}

		#Cost input.product, #Cost3 input.product {
			display: none;
		}